<form action='/addtask' method='POST'>
	<strong>New Task:</strong>
	<input type='text' name='task' placeholder='Task' />
	<input type='text' name='date' placeholder='Date (Optional)' />
	<input type='submit' value='Save'>
</form>
<p align="left"><a href="/todo">To-Do List</todo></p align>