<% content_for :page_title do %>
<title>Add a Task</title>
<% end %>

<% content_for :extra_css do %>
.col-lg-6 {
	padding-right: 1px;
	padding-left: 1px;
}
.col-lg-4 {
	padding-left: 1px;
	padding-right: 1px;
}
.col-lg-2 {
	padding-left: 1px;
	padding-rigt: 1px;
}
<% end %>
		<form action='/<%= @username %>/addtask' method='POST'>
			<strong>New Task:</strong> <br><br>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6">
						<div class="input-group">
							<span class ="input-group-addon">Task</span>
							<input class='form-control' type='text' name='task'/>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="input-group">
							<span class="input-group-addon">Due Date</span>
							<input class='form-control' type='text' name='date' placeholder='(Optional)'/>
						</div>
					</div>
					<div class='col-lg-2'>
						<button type='submit' class='btn btn-default'>Save</button>
					</div>
				</div>
			</div>
		</form>