<form action='/addtask' method='POST'>
	<strong>New Task:</strong>
	<input type='text' name='task' placeholder='Task' />
	<input type='text' name='date' placeholder='Date (Optional)' />
	<input type='submit' value='Save'>
</form>
<p><a href="/todo">To-Do List</a><br>
<a href="/">Bad to Index</a></p>