<h1>Todo List</h1>
<<<<<<< HEAD
<p><p align="left"><a href="/todo">To-Do List</a href></br>
<a href="/addtask">Add Task</a href></p align></p>
<p align="left"><a href="/removetask">Remove a Task</todo></p align>
=======
<p><a href="/todo">To-Do List</a><br>
<a href="/addtask">Add Task</a></p>
>>>>>>> 1-3revisions
