<% content_for :page_title do %>
<title>To-Do List</title>
<% end %>

<% content_for :extra_stylesheets do %>
<link rel="stylesheet" href="liststyle.css" type="text/css"> 
<% end %>

<% content_for :extra_css do %>
table {
	max-width: 800px;
}
<% end %>

		<ul class ="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="/todo" role="tab" data-toggle="tab">To-Do List</a></li>
			<li role="presentation"><a href="/addtask" role="tab" data-toggle="tab">Add a Task</a></li>
		</ul>
		<br>
		<table class="table table-hover table-bordered" style="width:800px">
			<tr>
				<th>Task</th>
				<th>Due Date</th>
			</tr>
			<% @list.each do |line| %>
			<tr>
				<td>
					<%= line["Name"] %>
				</td>
				<td>
					<%= line["Date"] %>
				</td>
			</tr>
			<% end %>
		</table>
		