<% content_for :page_title do %>
<title>Login Page</title>
<% end %>

<%content_for :extra_css do%>
body {
	max-width: 1000px;
}
<% end %>

		<form name="login" action="/auth/login" method="POST" accept-charset="utf-8" style="width: 600px">
			<input type="text" class="form-control" name="user_name" placeholder="Username" required>
			<input type="password" class="form-control" name="password_attempt" placeholder="Password" required>
			 <button class="btn btn-primary btn-block" type="submit"><strong>Log In</strong></button>
		</form>
		<% if flash[:incorrect] == "Username or password invalid" %>
		<span style="color: red">Username or password invalid</span>
		<br>
		<% end %>
		<a href="/auth/signup">Create an Account</a>