<% content_for :page_title do %>
<title>Remove a Task</title>
<% end %>

<% content_for :extra_css do %>
.col-lg-2 {
	padding-left: 1px;
	padding-right: 1px;
}
.container {
	padding-right: 11px
	padding-left: 11px;
	margin-right: 0px;
	margin-left: 0px;
}
<% end %>

		<table class="table table-hover table-bordered table-condensed" style="width:800px">
			<tr>
				<th>#</th>
				<th>Task</th>
				<th>Due Date</th>
			</tr>
			<% count = 0 %>
			<% @list.order(:due).each do |line| %>
			<% count += 1 %>
			<tr>
				<td><%= count %></td>
				<td><%= line.description %></td>
				<td><%= line.due %></td>
			</tr>
			<% end %>
		</table>
		<form action="/<%= username %>/removetask" method="POST">
			<div class="container">
				<div class="row">
					<div class="col-lg-2">
						<div class="input-group">
							<span class ="input-group-addon"># to Delete</span>
							<input class='form-control' type='text' name='num' style='width: 50px'/>
						</div>
					</div>
					<div class="col-lg-2">
						<button type='submit' class='btn btn-default'>Remove</button>
					</div>
				</div>
			</div>
		</form>
