<% content_for :page_title do %>
<title>Restricted Area</title>
<% end %>

		<p>You've tried to access a page you're not authorized for! Please <a href="/auth/signup">register</a> or <a href="/auth/login">log in</a>, then try again.</p>